<!DOCTYPE html>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>公司介绍</title>

    <meta name="keywords" content="恒河">
    <meta name="description" content="恒河">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="/static_user/css/public.css">
    <link rel="stylesheet" href="/static_user/css/style.css">

    <script type="text/javascript" src="/static_user/js/jquery.min.js"></script>

    <style media="screen">
        @media only screen and (max-width: 1230px) {

            body,
            #shouye-nav {
                width: 1230px !important;
            }

            .layout .zllist li {
                margin-right: 88px;
            }

            #demark .index-issue .content .prev,
            #demark .index-issue .content .next {
                display: none;
            }

            .tempWrap {
                width: 1215px !important;
            }

            #domain .floor1 .btnr,
            #domain .floor1.btnl {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="headerpage"></div>

    <!--公司介绍-->
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td width="192" valign="top">
                    <div class="pleft">
                        <h4 class="pleftzt">※公司介绍</h4>
                        <ul>
                            <li><a href="#">业务详情</a></li>
                        </ul>
                    </div>
                    <br>

                    <table cellpadding="0" cellspacing="0" border="0" width="192">
                        <tbody>
                            <tr>
                                <td align="center" width="60" height="50" valign="middle"><img src="/static_user/images/lianxi.jpg"
                                        width="44" border="0"></td>
                                <td valign="top" style="padding-left:8px;">联系人：<br>孔小姐<br></td>
                            </tr>

                            <tr>
                                <td align="center" width="60" height="50" valign="middle"><img src="/static_user/images/dianhua.jpg"
                                        width="44" border="0"></td>
                                <td valign="top" style="padding-left:8px;">联系电话：<br>0758-12345678<br></td>
                            </tr>

                            <tr style="display:none;">
                                <td align="center" width="60" height="50" valign="middle"> <img src="/static_user/images/chuanzhen.jpg"
                                        width="44" border="0"></td>
                                <td valign="top" style="padding-left:8px;">传真：<br>0758-12345678</td>
                            </tr>

                            <tr>
                                <td align="center" width="60" height="50" valign="middle"><img src="/static_user/images/fankui.jpg"
                                        width="44" border="0"></td>
                                <td valign="top" style="padding-left:8px;">在线反馈：<br> <a style="color:red;" href="message.asp">留言本&gt;&gt;</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td valign="top" style="padding-left:25px;padding-right:22px;">
                    <div id="content-wrapper">
                        <div class="content-head">
                            <h1></h1>
                            <div></div>
                        </div>
                        <div class="content"></div>
                        <div class="content-foot">
                            <a href="/downFile?id=1"></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="footerpage"></div>

    <script>
        var artidleObj = {
            url: {
                articleUrl: function () {
                    return '/selectMessageByMessageId'
                }
            },
            init: function() {
                this.loadComponents();
                this.getArticle();
            },
            loadComponents: function () {
                $(".headerpage").load("title.html");
                $(".footerpage").load("foot.html");
            },
            getArticle: function () {
                var articleId  = location.search.substr(4);
                $.get(this.url.articleUrl(),{messageId: articleId})
                    .success(function (res) {
                        if (res.code == 200) {
                            // 渲染文章
                            var title = $('.content-head').children('h1');
                            var date = $('.content-head').children('div');
                            title.text(res.datas[0].title);
                            date.text(res.datas[0].date);
                            $('.content').html(res.datas[0].content);
                            if (res.datas[0].filePath) {
                                $('.content-foot').children('a').text('附件: ' + res.datas[0].filePath);
                                $('.content-foot').children('a').attr('href', '/downFile?messageId=' + res.datas[0].id);
                            } else {
                                $('.content-foot').children('a').remove();
                            }
                        }
                    })
            }
        };

        artidleObj.init();
    </script>

</body>

</html>