<!DOCTYPE html>
<html>

<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>恒河体育</title>

	<meta name="keywords" content="恒河">
	<meta name="description" content="恒河">
	<meta name="renderer" content="webkit">

	<link rel="stylesheet" href="/static_user/css/public.css">
	<link rel="stylesheet" href="/static_user/css/main.css">
	<link rel="stylesheet" href="/static_user/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">

	<script type="text/javascript" src="/static_user/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>

	<style media="screen">
		@media only screen and (max-width: 1230px){
            body,#shouye-nav{
                width: 1230px !important;
            }
            .layout .zllist li {
               margin-right: 88px;
            }
            #demark .index-issue .content .prev,#demark .index-issue .content .next {
                display:none;
            }
            .tempWrap{
                width: 1215px !important;
            }
            #domain .floor1 .btnr,#domain .floor1.btnl {
                display:none;
            }
        }
    </style>
</head>

<body>

	<div class="headerpage"></div>

	<!--banner（轮播图）-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
		<!-- 如果需要导航按钮 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<!-- 如果需要滚动条 -->
		<!-- <div class="swiper-scrollbar"></div> -->
	</div>

	<!-- 中央新闻  -->
	<div class="row">
		<div class="column2-1">
			<h3 class="column-head"> <a href="news.html?id=2">新闻中心</a></h3>
			<ul></ul>
		</div>
		<div class="column2-1">
			<h3 class="column-head"> <a href="news.html?id=3">比赛信息</a></h3>
			<ul></ul>
		</div>
	</div>
	<div class="row">
		<div class="column2-1">
			<h3 class="column-head"><a href="news.html?id=4">服务项目</a></h3>
			<ul></ul>
		</div>
		<div class="column2-1">
			<h3 class="column-head"> <a href="news.html?id=5"> 顾问团队 </a></h3>
			<ul></ul>
		</div>
	</div>

	<div class="footerpage"></div>

	<script type="text/javascript">

		let HomeObj = {
		    url: {
                columns: function () {
					return '/selectMessageByColumnId'
                },
                banners: function () {
                    return '/selectBanner'
                }
            },
			init: function () {
		        this.loadComponents();
				this.columns();
				this.banners();
            },
            loadComponents: function() {
                sessionStorage.setItem("index", 0);
                $(".headerpage").load("./title.html");
                $(".footerpage").load("./foot.html");
            },
            columns: function () {
				$.ajaxSettings.async = false;
                for (let cid=2; cid<=5; cid++) {
                    $.get(this.url.columns(), {columnId: cid, page: 1,count:5})
                        .success(function(res){
                            if (res.code === 200) {
                                var list = res.datas;
                                var column = $('.column2-1').eq(cid-2).children('ul');
                                for (var i = 0; i < list.length; i++) {
                                    column.append('<li><a href="article.html?id=' + list[i].id + '">' + list[i].title + '</a></li>');
                                }
                            }
                        })
                }
				$.ajaxSettings.async = true;
            },
            banners: function() {
		        $.get(this.url.banners(),{})
                    .success(function(res) {
                        if (res.code === 200) {
                            var list = res.datas;
                            for (var i = 0; i < list.length; i++) {
                                var id = list[i].id;
                                var title = list[i].title;
                                var titleImg = list[i].titleImg;
                                var html = '<div class="swiper-slide"><a href="article.html?id=' + id + '"><img src="' + titleImg + '" width=100% height=100%></a></div>';
                                //arr[]存储的是后台返回的data里的src
                                $('.swiper-wrapper').append(html);
                            }

                            var mySwiper = new Swiper('.swiper-container', {
                                direction: 'horizontal', //水平切换
                                loop: true,//循环模式选项

                                // // 如果需要分页器
                                pagination: {
                                    el: '.swiper-pagination',
                                },

                                //如果需要前进后退按钮
                                navigation: {
                                    nextEl: '.swiper-button-next',
                                    prevEl: '.swiper-button-prev',
                                }
                            })
                        }
                    })
            }
		}
        HomeObj.init();
	</script>
</body>

</html>