<!DOCTYPE html>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>广东恒河体育公司</title>
    <link rel="icon" href="/static_user/images/favicon.ico" >

    <meta name="keywords" content="恒河">
    <meta name="description" content="恒河">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="/static_user/css/public.css">
    <link rel="stylesheet" href="/static_user/css/style.css">
    <link rel="stylesheet" href="/static_user/css/main.css">

    <script type="text/javascript" src="/static_user/js/jquery.min.js"></script>

    <style media="screen">
        @media only screen and (max-width: 1230px) {

            body,
            #shouye-nav {
                width: 1230px !important;
            }

            .layout .zllist li {
                margin-right: 88px;
            }

            #demark .index-issue .content .prev,
            #demark .index-issue .content .next {
                display: none;
            }

            .tempWrap {
                width: 1215px !important;
            }

            #domain .floor1 .btnr,
            #domain .floor1.btnl {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="headerpage"></div>

    <div class="container-wrap">
        <div class="container">
            <div class="content-center">
                <h3 class="center-head">子栏目名</h3>
                <ul class="center-ul"></ul>
                <div class="center-footer">
                    <ul class="pagination modal-2"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 新闻中心 -->
    <div class="footerpage"></div>

    <script>
        var newsObj = {
            url: {
                columnName: function() {
                    return '/columnName';
                },
                pages: function () {
                    return '/selectMessageByColumnId';
                }
            },
            attr: {
                columnId: location.search.substr(4),
            },
            init: function () {
                this.loadComponents();
                this.getColumnName();
                this.pages(1);
            },
            loadComponents: function () {
                sessionStorage.setItem("index", this.attr.columnId);
                $(".headerpage").load("title.html");
                $(".footerpage").load("foot.html");
            },
            getColumnName: function () {
                $.get(this.url.columnName(), {columnId: this.attr.columnId})
                    .success(function (res) {
                        if (res.code == 200) {
                            var titleName = res.datas[0];
                            $('.center-head').text(titleName);
                        }
                    })
            },
            pages: function (pageNum) {
                $.get(this.url.pages(), {columnId: this.attr.columnId, page: pageNum, count: 10})
                    .success(function (res) {
                        if (res.code === 200) {
                            // 清空列表, 重新更新
                            $(".center-ul").empty();
                            $('.pagination').empty();
                            var list = res.datas;
                            for (var i = 0; i < list.length; i++) {
                                $(".center-ul").append('<li><a href="article.html?id=' + list[i].id + '">' + list[i].title + ' <span class="right-date">(2018-09-30)</span></a></li>')
                            }

                            var totalPage = res.totalPage;
                            var pagenation = $('.pagination');
                            pagenation.append('<li><a href="javascript:;" class="prev" onclick="newsObj.pages(1)">&laquo </a></li>');
                            if (pageNum == 1 || pageNum == 2) {
                                // 输出5个数字
                                for (var i = 1; i <= 5 && i <= totalPage; i++) {
                                    if (i == pageNum) {
                                        pagenation.append('<li><a href="javascript:;" class="active">' + i + '</a></li>');
                                    } else {
                                        pagenation.append('<li><a href="javascript:;" onclick="newsObj.pages(' + i + ')">' + i + '</a></li>');
                                    }
                                }
                            } else if (pageNum == totalPage - 1 || pageNum == totalPage) {
                                // 输出5个数字
                                for (var i = totalPage - 4; i <= totalPage; i++) {
                                    if (i < 1) {
                                        continue;
                                    }
                                    if (i == pageNum) {
                                        pagenation.append('<li><a href="javascript:;" class="active">' + i + '</a></li>');
                                    } else {
                                        pagenation.append('<li><a href="javascript:;" onclick="newsObj.pages(' + i + ')">' + i + '</a></li>');
                                    }
                                }
                            } else {
                                // 在中间
                                for (var i = pageNum - 2; i <= pageNum + 2 && i <= totalPage; i++) {
                                    if (i == pageNum) {
                                        pagenation.append('<li><a href="javascript:;" class="active">' + i + '</a></li>');
                                    } else {
                                        pagenation.append('<li><a href="javascript:;" onclick="newsObj.pates(' + i + ')">' + i + '</a></li>');
                                    }
                                }
                            }
                            pagenation.append('<li><a href="javascript:;" class="next" onclick="newsObj.pages(' + totalPage + ')"> &raquo;</a></li>')
                        }
                    })
            }
        };
        newsObj.init();
    </script>
</body>

</html>