<!-- 头部   -->
<!-- <div class="header" id="hearderTop">
	<div class="center">
		<div class="headerLeft">恒河体育--激发你的无限能量 </div>
	</div>
</div> -->

<!-- 导航栏 -->
<div class="nav" id="shouye-nav">
	<div class="center">
		<h1 class="logo hearder-logo">
			<a href="index.html"><img src="/static_user/images/logo1.png" alt="logo" title="广东恒河体育有限公司" style="" class="nav_logo"></a>
		</h1>
		<div class="navLis">
			<ul id="nav_column">
				<li class="nav_column_item"><a href="index.html" title="首页">首页</a></li>
				<!--<li class="nav_column_item"><a href="Homepage.html" title="公司简介">公司简介</a></li>-->
				<!-- <li class="nav_column_item"><a href="news2.html?id=1" title="新闻中心">新闻中心</a></li>
				<li class="nav_column_item"><a href="news.html?id=1" title="服务项目">服务项目</a></li> -->
				<!-- <li _menu_nav="1"><a href="introducution.html" title="公司介绍">公司介绍</a></li>
				<li _menu_nav="2"><a href="#" title="顾问团队">顾问团队</a></li>
				<li _menu_nav="3"><a href="#" title="比赛信息">比赛信息</a></li>
				<li _menu_nav="4"><a href="news.html" title="新闻中心">新闻中心</a></li>
				
				<li _menu_nav="6"><a href="#" title="联系方式">联系方式</a></li> -->
			</ul>
		</div>
	</div>
</div>
<script>
	var titleObj = {
	    url: {
	      	column: function () {
				return '/selectColumn';
            }
		},
	    init: function () {
	        this.setIndex();
		},
		setIndex: function () {
			var index = sessionStorage.getItem("index");
			$.get(this.url.column(),{})
				.success(function (res) {
                    if (res.code === 200) {
                        var list = res.datas;
                        for (var i = 0; i < list.length; i++) {
                            if (list[i].name === '新闻中心') {
                                $('#nav_column').append('<li class="nav_column_item"><a href="news2.html?id='+list[i].id+'">'+ list[i].name+'</a></li>');
                            } else if (list[i].name === '公司简介') {
                                $('#nav_column').append('<li class="nav_column_item"><a href="Homepage.html">'+ list[i].name +'</a></li>');
                            } else if (list[i].name === '会员中心') {
                                $('#nav_column').append('<li class="nav_column_item"><a href="member.html">'+ list[i].name +'</a></li>');
							} else if (list[i].name === '联系我们') {
                                $('#nav_column').append('<li class="nav_column_item"><a href="Homepage2.html">'+ list[i].name + '</a></li>');
                            } else {
                                $('#nav_column').append('<li class="nav_column_item"><a href="news.html?id=' + list[i].id + '">' + list[i].name + '</a></li>');
                            }
                        }
                        $('.nav_column_item').eq(parseInt(index)).addClass("now");
                    }
                })
        }
	};
	titleObj.init();
	// var index = sessionStorage.getItem("index");
	// $(function () {
	// 	$.ajax({
	// 		url: '/selectColumn',
	// 		method: 'get',
	// 		success: function (res) {
	// 			if (res.code === 200) {
	// 				var list = res.datas;
	// 				for (var i = 0; i < list.length; i++) {
	// 					if (list[i].name === '新闻中心') {
	// 						$('#nav_column').append(`<li class="nav_column_item"><a href="news2.html?id=${list[i].id}"> ${list[i].name}</a></li>`);
	// 					} else if (list[i].name === '公司简介') {
    //                         $('#nav_column').append(`<li class="nav_column_item"><a href="Homepage.html"> ${list[i].name}</a></li>`);
	// 					} else {
    //                         $('#nav_column').append('<li class="nav_column_item"><a href="news.html?id=' + list[i].id + '">' + list[i].name + '</a></li>');
	// 					}
	// 				}
	// 				$('.nav_column_item').eq(parseInt(index)).addClass("now");
	// 			}
	// 		}
	// 	})
	// })


</script>